@use 'variables'
@use 'mixins'

#sidebar
    background-color: variables.$bg-color
    flex: 1 1 0
    border-radius: variables.$container-border-radius
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    position: relative
    padding: 3rem 0

    img
        width: 40%
        max-width: 70%
        border-radius: variables.$container-border-radius
        position: absolute
        top: -3rem

    .title
        font-size: 1.5rem
        color: variables.$text-color-secondary
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 8rem
        padding: .8rem 1.2rem
    
    .pokes-list
        display: flex
        flex-direction: column
        justify-content: space-between
        margin: 1.8rem
        
    p
        font: variables.$font-stack
        margin: 1rem
        font-size: 1.5rem
        color: variables.$text-color
    
    .icons
        padding: .6rem
        margin: 1rem
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        color: #333
        font-size: 1.3rem
        @include mixins.center

        :hover
            transition: 0.6s
            color: variables.$text-color

    .btn
        @include mixins.btn
        
    
